@import './framework';
@import './mixins';

/* BASIC RESET */

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
list-style-type: none;
}

/* NAV */
nav {

  padding: 0 20px;

  @media only screen and (min-width: 1024px) {
    padding: 0 168px;
  }

  div {
    background-color: rgb(11, 79, 102);
    height: 50px;
    border: 1px solid black;
  }
}

/* MAIN */

main {
  div {
    #insideTopInfo {
      background-color: orange;
      border: 1px solid black;
      height: 200px;
      padding: 0 20px;
    }
  }

  #hero {
    margin: 0;
    width: 100%;

    div {
      padding: 0;
    }
  }

  #howItWorks {
    
    div {
      height: 200px;
      background-color: cyan;
    }
  }

  #howItWorksImages {

    div {
      height: 600px;
      max-width: 1024px;
      background-color: black;
      justify-content: space-around;
      margin: 0;

      @media only screen and (max-width: 720px) {
        flex-direction: column;
        align-items: space-around;
      }

      div {
        background-color: white;
      }

      .howItWorksImages {
        flex-direction: column;
        height: 345px;
        border: 1px solid black;

        @media only screen and (min-width: 720px) {
          height: 458px;
        }
      }
    }
  }

  #everythingUN2K {
    background-color: green;
    div {
      div {
        background-color: lightgreen;
        @include innerMaxWidth;  

        @media only screen and (min-width:720px) {
          justify-content: space-around;
        }

        .classImgs {
          flex-direction: column;
          width: 270px;
          margin: auto;

          @media only screen and (min-width:720px) {
            width: 254px;
            margin: 0;
          }

        }
      }
    }
  }

  #succesStories {
    background-color: pink;
    .insideSuccess {
      @include innerMaxWidth;
      background-color: lightpink;
      .successContainer {
        img {
          align-self: flex-start;
        }
        .innerSuccess {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }

  #startLearning {
    background-color: royalblue;
    div {
      flex-direction: column;
    }
  }
}

/* FOOTER */

footer {
  height: 70px;
  
  @media only screen and (min-width: 720px) {
    height: 130px;
  }

  @media only screen and (min-width: 1024px) {
    height: 277px;
  }

  .row {
    height: 100%;
    
    #icons {
      justify-content: space-around;

      @media only screen and (max-width: 720px) {
        position: relative;
        top: 20px;
      }

      span {
        color: #ce973e;
        height: 24px;
        width: 24px;
      }
    }

    #footerLinks {

      div {
        width: 50%;
        height: 100%;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px 0;

        & a:nth-child(3) {
          height: 10px;
        }

        @media only screen and (max-width: 720px) {
          position: absolute;
          visibility: hidden;
        }

        @media only screen and (min-width: 1024px) {
          padding: 75px 0;
        }
      }
    }
  }
}