/* GRID SYSTEM PLAN */
/*

flex class: display: flex

Rows: that contain the colums: flex, flex-direction: row, 100% width, margin left/right: 5%

cols: 1-12 for sm md lg

*/
/* FLEX */
.makeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ROWS */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 96%;
  margin: auto 2%;
}

/* GENERAL TEXT STYLES */
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* COLUMNS */
/* SMALL */
.col-sm-1 {
  width: 8.33%;
  padding: 0 5px;
}

.col-sm-2 {
  width: 16.66%;
  padding: 0 5px;
}

.col-sm-3 {
  width: 24.99%;
  padding: 0 5px;
}

.col-sm-4 {
  width: 33.32%;
  padding: 0 5px;
}

.col-sm-5 {
  width: 41.65%;
  padding: 0 5px;
}

.col-sm-6 {
  width: 49.98%;
  padding: 0 5px;
}

.col-sm-7 {
  width: 58.31%;
  padding: 0 5px;
}

.col-sm-8 {
  width: 66.64%;
  padding: 0 5px;
}

.col-sm-9 {
  width: 74.97%;
  padding: 0 5px;
}

.col-sm-10 {
  width: 83.3%;
  padding: 0 5px;
}

.col-sm-11 {
  width: 91.63%;
  padding: 0 5px;
}

.col-sm-12 {
  width: 99.96%;
  padding: 0 5px;
}

/* MEDIUM */
@media only screen and (min-width: 720px) {
  .col-md-1 {
    width: 8.33%;
    padding: 0 10px;
  }
  .col-md-2 {
    width: 16.66%;
    padding: 0 10px;
  }
  .col-md-3 {
    width: 24.99%;
    padding: 0 10px;
  }
  .col-md-4 {
    width: 33.32%;
    padding: 0 10px;
  }
  .col-md-5 {
    width: 41.65%;
    padding: 0 10px;
  }
  .col-md-6 {
    width: 49.98%;
    padding: 0 10px;
  }
  .col-md-7 {
    width: 58.31%;
    padding: 0 10px;
  }
  .col-md-8 {
    width: 66.64%;
    padding: 0 10px;
  }
  .col-md-9 {
    width: 74.97%;
    padding: 0 10px;
  }
  .col-md-10 {
    width: 83.3%;
    padding: 0 10px;
  }
  .col-md-11 {
    width: 91.63%;
    padding: 0 10px;
  }
  .col-md-12 {
    width: 99.96%;
    padding: 0 10px;
  }
}

/* LARGE */
@media only screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33%;
    padding: 0 15px;
  }
  .col-lg-2 {
    width: 16.66%;
    padding: 0 15px;
  }
  .col-lg-3 {
    width: 24.99%;
    padding: 0 15px;
  }
  .col-lg-4 {
    width: 33.32%;
    padding: 0 15px;
  }
  .col-lg-5 {
    width: 41.65%;
    padding: 0 15px;
  }
  .col-lg-6 {
    width: 49.98%;
    padding: 0 15px;
  }
  .col-lg-7 {
    width: 58.31%;
    padding: 0 15px;
  }
  .col-lg-8 {
    width: 66.64%;
    padding: 0 15px;
  }
  .col-lg-9 {
    width: 74.97%;
    padding: 0 15px;
  }
  .col-lg-10 {
    width: 83.3%;
    padding: 0 15px;
  }
  .col-lg-11 {
    width: 91.63%;
    padding: 0 15px;
  }
  .col-lg-12 {
    width: 99.96%;
    padding: 0 15px;
  }
}

/* BASIC RESET */
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* NAV */
nav {
  padding: 0 20px;
}

@media only screen and (min-width: 1024px) {
  nav {
    padding: 0 168px;
  }
}

nav div {
  background-color: #0b4f66;
  height: 50px;
  border: 1px solid black;
}

/* MAIN */
main div #insideTopInfo {
  background-color: orange;
  border: 1px solid black;
  height: 200px;
  padding: 0 20px;
}

main #hero {
  margin: 0;
  width: 100%;
}

main #hero div {
  padding: 0;
}

main #howItWorks div {
  height: 200px;
  background-color: cyan;
}

main #howItWorksImages div {
  height: 600px;
  max-width: 1024px;
  background-color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

@media only screen and (max-width: 720px) {
  main #howItWorksImages div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
  }
}

main #howItWorksImages div div {
  background-color: white;
}

main #howItWorksImages div .howItWorksImages {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 345px;
  border: 1px solid black;
}

@media only screen and (min-width: 720px) {
  main #howItWorksImages div .howItWorksImages {
    height: 458px;
  }
}

main #everythingUN2K {
  background-color: green;
}

main #everythingUN2K div div {
  background-color: lightgreen;
  max-width: 950px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

@media only screen and (min-width: 720px) {
  main #everythingUN2K div div {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main #everythingUN2K div div .classImgs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  margin: auto;
}

@media only screen and (min-width: 720px) {
  main #everythingUN2K div div .classImgs {
    width: 254px;
    margin: 0;
  }
}

main #succesStories {
  background-color: pink;
}

main #succesStories .insideSuccess {
  max-width: 950px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  background-color: lightpink;
}

main #succesStories .insideSuccess .successContainer img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main #succesStories .insideSuccess .successContainer .innerSuccess {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #startLearning {
  background-color: royalblue;
}

main #startLearning div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* FOOTER */
/*# sourceMappingURL=style.css.map */